@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

html{
    scroll-behavior: smooth;
}

.font-manrope{
      font-family: "Manrope", sans-serif;
}

*{
    font-family: "Manrope", sans-serif;
}
.mantine-Input-section.mantine-Select-section{
    display: none;
}

.mantine-Select-option svg{
    display: none;
}

