@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

html{
    scroll-behavior: smooth;
}

.font-manrope{
      font-family: "Manrope", sans-serif;
}

*{
    font-family: "Manrope", sans-serif;
}
.mantine-Input-section.mantine-Select-section{
    display: none;
}

.mantine-Select-option svg{
    display: none;
}

.contact-fab {
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    border-radius: 9999px;
    /*border: 1px solid #212121ad;*/

    cursor: pointer;
    z-index: 50;
}


.contact-fab::before {
    content: '';
    position: absolute;
    inset: -12px;
    background: rgb(181, 218, 181);
    border-radius: 9999px;
    filter: blur(0px);
    z-index: -1;
    animation: pulseShadow 2.2s ease-in-out infinite;
    pointer-events: none;
}

@keyframes pulseShadow {
    0% {
        transform: scale(0.9);
        opacity: 0.4;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.4;
    }
}

/* Mantine Notifications Border */
.mantine-Notification-root {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}


/* CARD */
.business-card {
    background: #f9f9f9;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: background-color 0.6s ease, border-color 0.6s ease;
}

@media (hover: hover) {
    .business-card:hover {
        background-color: rgba(16, 137, 16, 0.04);
        border-color: #108910;
    }
}

.business-card__icon {
    width: 48px;
    height: 48px;
    border-radius: 9999px;
    background: #212121;
    display: grid;
    place-items: center;

    transform: rotate(0deg);
    will-change: transform;
    backface-visibility: hidden;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease;
}

@media (hover: hover) {
    .business-card:hover .business-card__icon {
        transform: rotate(359deg);
        background-color: #108910;
    }
}
